@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
*{
    /* font-family: 'Ubuntu'; */
    font-family: 'Raleway', sans-serif;
}
html{
    scroll-behavior: smooth;
}
.carousel-item{
    height: 95vh;
    width: 100%;
}
.carousel-item img{
    height: inherit;
    width: inherit;
}
.nav-item a:hover{
    background-color: rgb(6, 122, 35);
    border-radius: 10px;
}
#about{
    height: 500px;
    width: 100%;
}
.card{
    height: 400px;
}
.employees{
    height: inherit;
    width: 100%;
}
.card-title{
    margin-top: 10px;
    margin-bottom: -0.25rem;
}
/* this is loader */
#container{
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.loader{
    height: 200px;
    width: 200px;
    border:10px solid #2980b9;
    border-radius: 50%;
    border-left: 10px solid #2c3e50;
    border-right: 10px solid #8e44ad;
    border-top:  10px solid #f1c40f;
    animation:load 2s linear infinite;
}

@keyframes load{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
